.home-container{
    display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     background-color: #F7F7FC;
    ;
     height: 97vh;
   }

   .home-container span{
    text-align: center;
    width: 100%;
    padding: 3px;
  }.home-container p{
    padding: 25px;
    font-size: 22.4px;
    font-style: inherit;
    font-family:cursive;
    color: rgb(124, 68, 28);
  }

  .one{
    width: 10%;
    margin: 3px;
   
  }.home_image_container{
    width: 95%;
  }
  
  .home_image_container img{
    width: 100%;
    border-radius: 10px;
    
  }
  
  .welcome{
    padding: 10px;
    
  }.welcome span{
    font-size:31px;
    color: rgb(102,105,118);
  }
  
  
  .home-container-image img{
    width: 100%;
    
  }.btn-container{
   
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;

  }.btn-container .btn{
    width: 100%;
    border: 1px solid;
    margin: 10px;
    text-align: center;
    padding: 5px ;
    border-radius: 10px;
    background-color:rgb(195,128,81);
    color:#FFFF
  }
  .home-container span{
    font-size:31px;
    color: rgb(97, 44, 7);
  }
  .paraph{
    color: red;
  }

  @media (min-width: 768px){
    .home-container span{
        width: 100%;
        
      }
      .home_image_container{
      width: 99%;
      object-fit: cover;
       
      }.home_image_container img{
        width: 100%;
        
       
      }.btn-container{
        flex-direction: row;
      }
  }