.container{
  display:flex;
  justify-content: center;
  align-items: center;
 background-color: black;
 height: 95vh;
  
}
@media (min-width: 768px){

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
